@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Montserrat';
    color: white;
    background: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    height: 100%;
    width: 100%;
    display: grid;
}

#menu-icon {
    position: absolute;
    cursor: pointer;
    transform: translateX(-40px);
}

#menu-icon.after {
    transition: 1s;
    transition-timing-function: cubic-bezier(.53, .01, .49, 1);
    transform: translateX(30px);
}

#load-logo-container.loaded {
    transition: 1s;
    backdrop-filter: blur(0px);
}

#load-logo-container {
    height: 100%;
    width: 100%;
    z-index: 50;
    position: absolute;
    backdrop-filter: blur(10px);
    display:grid;
}    

#load-logo.after {
    opacity: 0;
    transition: 1s;
}

#load-logo {
    width: 300px;
    height: 300px;
    align-self: center;
    justify-self: center;
}

main p {
    font-size: 20px;
}

main {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    text-align: center;
    width: 600px;
    height: 310px;
    justify-self: center;
    padding-top: 30px;
}

#install {
    color: black;
    background-color: white;
}

nav {
    padding-top: 30px;
    margin-right: 20px;
}

nav ul li.selected {
    color: rgb(126, 126, 126);
}

nav ul li:hover {
    transition: 0.5s;
    color: rgb(126, 126, 126);
}

nav ul {
    display: flex;
    justify-content: end;
}

nav ul li {
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
    z-index: 1;
    list-style: none;
    font-size: 18px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}